header {
    height: 50px;
    background-color: #262626;

    .header-wrap {
        text-align: center;
        padding-top: 8px;

        a {
            color: #af57e4;
            width: @safewidth;
            margin: auto;
            font-size: 26px;
            font-family: 'Nunito Sans', sans-serif;
            text-decoration: none;
            letter-spacing: -0.5px;
        }
    }
}
